* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f5f8fa;
}

.header__page {
    padding: 5rem;
    text-align: left;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.91);
    background: #24292e;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin: 0 5rem;
}

.card {
    background: #fff;
    font-family: Roboto;
    color: #586069;
    line-height: 1.5;
    margin: 1rem;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.card__header {
    background: #24292e;
    text-align: left;
    padding: 2rem 2rem 4rem;
    position: relative;
}

.card__image {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.card__image img {
    border-radius: 50%;
    filter: sepia(1);
    border: 2px solid #fff;
    transition: all .3s;
}

.card__body {
    padding: 4rem 2rem;
}

.card__body h1 {
    font-size: 1rem;
    font-weight: 500;
}

.card__body h1::after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background: #f7f7f7;
    margin: 1rem auto;
}